/* your styles go here */
/* Example site test */
:root {
    --primary-accent: #8a5e3c !important;
    --navbar-border-top: #8a5e3c !important;
    --button-border: #6d3c3b !important;
    --link-focus: #8b6f59 !important;
    --form-shadow: rgba(149, 82, 81, 0.6);
    --pagination-bg: #d2adad !important;
    --link-hover-bg: #8b6f59 !important;
    --navbar-focus: #58402e !important;
  }

/* set the dark background */

body {
    color: #fff !important;
    background-color: #333333 !important;
}

#top {
    background: #292929 !important;
}
.navbar-default {
    background-color: #333 !important;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}

.bar.background-white {
    background: #333333 !important;
}

.box-simple .icon {
    color: #fff !important;
    border-color: #fff !important;
}

.box-simple h3 {
    color: #fff !important;
}

#footer {
    background: #292929 !important;
}

#copyright {
    background: #292929 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff !important;
}


h4, h5, h6 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

#heading-breadcrumbs h1 {
    color: #fff;
}

#heading-breadcrumbs {
    background: url('/img/top_banner.webp') center center repeat;
}

.navbar-brand {
    padding: 3px 15px !important;
}

.bar.background-image-fixed-2 {
    background: url(/img/bottom-bg.webp) center top repeat !important;
}
.home-carousel {
    position: relative;
    background: url(/img/top_banner.webp) center center repeat;
    height: 475px !important;
}

.home-carousel .dark-mask {
    opacity: 0.3 !important;
}

.padded-bottom {
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
}

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

#language-select {
text-align: right;
  }
  
#language-select a { 
    color: #fff !important;
  }

p {
    font-size: 18px !important;
}

.white {
    color: #fff !important;
}

.grey {
    color: #888 !important;
}

/* gallery stuff */ 

.galleryheader h2 {
    color: #fff !important;
}

.gallerytext {
    color: #fff !important;
}

.gallerypad {
    border-radius: 25px;
    padding: 10px;
}

.navbar-brand img {
    max-height: 62px !important;
}

.breadtitle {
    text-shadow: 2px 2px #000; 
}


 /* Container holding the image and the text */
 .gallerycontainer {
    position: relative;
    text-align: center;
    color: white !important;
    display: initial;
  }

  /* Centered text */
  .gallerycentered {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #000;
  } 